@{
    ViewBag.Title = "Windows Developer Days Mobile";
}
<div>
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
    <p>
        <a href="@Url.Action("Index", "Session")" data-role="button" data-icon="star">ƒZƒbƒVƒ‡ƒ“î•ñˆê——‚Í‚±‚¿‚ç</a>
    </p>
</div>
